.header
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  &__item
    list-style-type: none
    a
      color: white
      font-size: 25px
      &:hover
        text-decoration: none
        color: red
         
nav
  background-color: black